body {
  background-color: #202020;
}

aside {
  float: left;
}

p {
    margin: 0em;
    margin-top: 0.5em;
}

.aside_div {
  margin: 5px;
  margin-top: 0px;
  padding: 5px;
  background-color: lightgrey;
}
